{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome Home</title>
  
</head>
<style>
body,h1,h2{font-family: "Raleway", sans-serif}
body, html {height: 100%}
p {line-height: 2}
.bgimg, .bgimg2 {
    min-height: 100%;
    background-position: center;
    background-size: cover;
    background-color: rgba(0,0,0,0.3);
}


.bgimg {background-image: url('{% static "images/back.jpg"%}')}
.bgimg2 {background-image: url("/w3images/flowers.jpg")}
</style>
<body style="background-image: url('{% static "images/stats-bg.jpg"%}');  background-color: rgba(0,0,0,0.3);
}";>
  <br>
  <font color="white"><h3>Hi there! Here are some recommended song for you!
  </h3>
  <h3>Your choice</h3>
  <hr>
  {{ emo1 }}<br>
  {{ emo2 }}<br>
  {{ emo3 }}<br>
  {{ emo4 }}<br>
{{ emo5 }}<br>
  <h3>Suggested Artists</h3>
  <hr>

  {{ emo11 }}<br>
  {{ emo12 }}<br>
  {{ emo13 }}<br>
  {{ emo14 }}<br>
  {{ emo15 }}<br>
<h3>And their top tracks</h3>
<hr>

  {{ emo6 }}<br><br>
  {{ emo7 }}<br><br>
  {{ emo8 }}<br><br>
  {{ emo9 }}<br><br>
{{ emo10 }}<br><br></font>
  <br>
  <br>
  <br>




<br><br>



</body>
</html>
