{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome Home</title>
  
</head>
<style>
body,h1,h2{font-family: "Raleway", sans-serif}
body, html {height: 100%}
p {line-height: 2}
.bgimg, .bgimg2 {
    min-height: 100%;
    background-position: center;
    background-size: cover;
    background-color: rgba(0,0,0,0.3);
}


.bgimg {background-image: url('{% static "images/back.jpg"%}')}
.bgimg2 {background-image: url("/w3images/flowers.jpg")}
</style>
<body style="background-image: url('{% static "images/back.jpg"%}');  background-color: rgba(0,0,0,0.3);
}";>
  <br>
  <h3 style="font-size:50px; font-family: Monserrat">Hi there! Here are some recommended movies for you!
  </h3>
  
  <hr>
  <p style="font-size:20px;">{{ emo1 }}</p><br>
 <p style="font-size:20px;">{{ emo2 }}</p><br>
  <p style="font-size:20px;">{{ emo3 }}</p><br>
 <p style="font-size:20px;">{{ emo4 }}</p> <br>
 <p style="font-size:20px;"> {{ emo5 }}</p><br>

  <br>
  <br>
  <br>




<br><br>



</body>
</html>
