{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome Home</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css"/>
</head>
<body style="background-image: url('{% static "images/back.jpg"%}')";>
  <br>
  <h3>Hi there! Here are some recommended song for you!
  </h3>
  <h3>Your choice</h3>
  <hr>
  {{ emo1 }}<br>
  {{ emo2 }}<br>
  {{ emo3 }}<br>
  {{ emo4 }}<br>
{{ emo5 }}<br>
  <h3>Suggested Artists</h3>
  <hr>

  {{ emo11 }}<br>
  {{ emo12 }}<br>
  {{ emo13 }}<br>
  {{ emo14 }}<br>
  {{ emo15 }}<br>
<h3>And their top tracks</h3>
<hr>

  {{ emo6 }}<br><br>
  {{ emo7 }}<br><br>
  {{ emo8 }}<br><br>
  {{ emo9 }}<br><br>
{{ emo10 }}<br><br>
  <br>
  <br>
  <br>




<br><br>



</body>
</html>
