<!-- djangotemplates/example/templates/index.html-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome Home</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css"/>
</head>
<body>
  <h3>Hi there! Welcome RecomMate.ai
  </h3>
  <br>
  <br>
  <br>


<h3>  <a href="{% url 'webcam' %}">Click to Open Webcam</a></h3> <br>
<h3>  <a href="{% url 'simple_upload' %}">Upload Picture</a> </h3><br>

<br><br>



</body>
</html>
